.add__block{
    display: flex;
    flex-direction: column;
}
.add__block h2{
    color: #fff;
    font-size: 50px;
}
.add__block input{
    font-size: 30px;
    padding: 5px 10px;
    outline: none;
    width: 100%;
    border: 1px solid transparent;
}
.add__block div p{
    font-size: 21px !important;
}
.add__block div span{
    margin: 0;
}
.add__block textarea{
    font-size: 30px;
    padding: 5px 10px;
    outline: none;
    resize: none;
    width: 100%;
}
.add__block button{
    background-color: #F79F1F;
    border: none;
    width: 15%;
    font-size: 25px;
    padding: 5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 0 85%;
    transition: all 0.5s;
}
.add__block button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #F79F1F;
}
.add__block button:disabled{
    background-color: gray;
    box-shadow: 0 0 0px #F79F1F
}