.todo__card{
    width: 200px;
    background-color: #fff;
    position: relative;
    margin-bottom: 1%;
    transition: all 0.5s;
    box-shadow: 0 0 10px black;
}
.todo__card:hover{
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.delete__task{
    color: red;
    position: absolute;
    right: 0px;
    top: -3px;
    font-size: 25px;
    transition: all 0.5s;
    transform: rotate(45deg);
}
.delete__task:hover{
    color: black;
    cursor: pointer;
}
.edit__task{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 2px;
    top: 5px;
    font-size: 15   px;
    transition: all 0.5s;
}
.apply__task{
    color: green;
    position: absolute;
    left: 2px;
    top: 5px;
    font-size: 15   px;
    transition: all 0.5s;
    cursor: pointer;
}
.edit__task:hover{
    color: rgb(70, 70, 70);
    cursor: pointer;
}
.card__header{
    font-size: 20px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto  ;  
}
.card__text{
    font-size: 20px;
    height: 110px;
    padding-left: 5px;
    overflow: auto;
    word-wrap: break-word;
}
.card__done{
    display: flex;
}
.card__done hr{
    width: 40%;
    border: none;
    height: 2px;
    background-color: #1B1464;
}
.done hr {
    background-color: rgb(255, 255, 255) ;
}
.done{
    box-shadow: 0 0 10px green !important;
    transition: all 0.5s;
    background-color: green;
    color: #fff;
}
.card__header_input{
    width: 75%;
    margin: 2px 10% -2px;
    font-size: 18px;
    outline: none;
}
.card__text_input{
    width: 96.5%;
    height: 100px;
    resize: none;
    font-size: 20px;
    outline: none;
    font-weight: 300;
}