.header__nav{
    display: flex;
}
.header__button{
    display: flex;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.5s;
}
.add__button{
    border-top-left-radius: 10px;
}
.active__button{
    background-color: #F79F1F;
}
.header__button:hover{
    background-color: #F79F1F;
}