.editor__block{
    display: flex;
    flex-direction: column;
}
.editor__block h2{
    color: #fff;
    font-size: 50px;
}
.editor__block input{
    font-size: 30px;
    padding: 5px 10px;
    outline: none;
    margin-bottom: 20px;
}
.editor__block textarea{
    font-size: 30px;
    padding: 5px 10px;
    outline: none;
    resize: none;
}
.editor__block button{
    background-color: #F79F1F;
    border: none;
    width: 15%;
    font-size: 25px;
    padding: 5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 0 85%;
    transition: all 0.5s;
}
.editor__block button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px #F79F1F;
}